body {
    background-color: aliceblue;
    padding: 20px;
    display: flex;
}
.planet-card {
    width: 300px;
    height:fit-content;
    box-shadow: 4px 4px 2px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    margin: 5px;
    position:relative;
}
.planet-card:hover {
    box-shadow: 8px 4px rgba(0,0,0,0.25);
    
}

.planet-container{
    height: auto;
    top: 20px;
    left: 10px;
    margin: 20px;
    padding: 2px 16px;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}
h3{
    position: absolute;
    top: 0px; 
    right: 10px;
    color: rgb(34, 247, 229);
    text-shadow: 2px 2px 4px #000000;
}

p {
    position: relative;
}